body, h1, div{ margin: 0; padding: 0; }

    body {
		background-color: #f8f8f8;
		font-family: sans-serif;
    }

    #contenedor{
		width: 900px;
		margin: 0px auto;
		background-color: #FFFFFF;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		border-bottom: 2px solid #eee;
		margin-bottom: 30px;
    }

    h1{
		display:block;
		width: 900px;
		height: 91px;
		overflow:hidden;
		text-indent:-9000px;
		background-image: url(header1.png);
    }

    #lateralIzquierdo{
		width: 224px; 
		float:left;
    }

	#lateralIzquierdo h2{
		font-size: 1em;		
		background-color : #00618b;
		color: #FFF;
		margin: 0px;
		padding-top: 7px;
		padding-left: 13px;
		padding-bottom: 7px;
	}
	
	#lateralIzquierdo ul{
		margin-top: 0px;
		padding-top: 10px;
	}
	
	#lateralIzquierdo li{
		margin-bottom: 10px;
	}
	
    #lateralDerecho{
		width: 675px;
		float: left;
	   border-left: 1px solid #ccc;
    }

    #footer{
		clear: both;
		padding: 10px;
		width: 880px;
		text-align: center;
    }

	.noticia{
		padding: 20px;
		padding-top: 0px;		
		line-height: 27px;
	}
	
	.noticia p{
		padding-left: 10px;		
		margin-top: 10px;
	}
	
    .noticia h2 {
		font-family: sans-serif;
		border-bottom: thin solid rgb(75,75,150);
		text-align: left;
		margin-bottom: 0px;
    }
	img { border: 0; }
    a {
		text-decoration: none;
    }

    a:hover {
		text-decoration: underline;
    }
	
	.idiomaESP{
		list-style-image: url(spain.gif);
	}
	
	.idiomaENG{
		list-style-image: url(united_kingdom.gif);
	}

